<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Purple Cupcake Data Testing</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	
</head>
	<body>
		<div class="container">
	    <div class="jumbotron">
	      <h1>Purple Cupcake</h1>

		  <h3>Manage customers, products, and orders</h3>
	      <hr>
	      
	    </div>
	    <div class="row">
			{{{ body }}}
	    </div>
	  </div>
	  	<style>
			
			.jumbotron {
				background-color: #eea547;
			}
			

		</style>
	</body>
</html>